@using OnlineStore.Contracts
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AsparagusLoverDto[]
@{
}
@foreach(var lover in Model)
{
    <p>Время - @lover.DateTime</p>
    <p>Имя - @lover.Name</p>
    <p>Email - @lover.Email</p>
    <p>Количество - @lover.EatCount</p>
    <p>--------------------------------------------------</p>
}
